<!DOCTYPE html>
<html class="ls-theme-indigo ls-html-nobg  ls-browser-chrome ls-window-md ls-screen-lg" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="form-validation.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no">
    <link href="http://assets.locaweb.com.br/locastyle/3.10.1/stylesheets/locastyle.css" rel="stylesheet"
          type="text/css">
    <link rel="icon" sizes="192x192" href="/locawebstyle/assets/images/ico-boilerplate.png">
    <link rel="apple-touch-icon" href="/locawebstyle/assets/images/ico-boilerplate.png">

    <script>
        function deleteItem(id){
            if(confirm('Tem certeza que deseja excluir este usuário?')){
                $.ajax({
                    url: '/user/delete/' + id,
                    type: 'DELETE',
                    success: function(result) {
                        console.debug(" DEU RELOAD " + result);
                        location.reload();
                    },
                    error: function(e){
                        location.reload();
                    }
                });
            }else{

            }
        }
    </script>
</head>
<body>
<div class="ls-topbar ">

    <span class="ls-show-sidebar ls-ico-menu"></span>

    <a href="/user/all" class="ls-go-next"><span class="ls-text">Voltar à lista de serviços</span></a>

    <!-- Nome do produto/marca com sidebar -->
    <h1 class="ls-brand-name">
        <a href="/user/all" class="ls-ico-earth">
            <small>Trabalho em Dupla</small>
            Crud de usuários com Spring
        </a>
    </h1>

    <!-- Nome do produto/marca sem sidebar quando for o pre-painel  -->
    <span class="ls-show-notifications ls-ico-question"></span>
</div>


<aside class="ls-sidebar">

    <div class="ls-sidebar-inner">
        <a href="/user/all" class="ls-go-prev"><span
                class="ls-text">Voltar à lista de serviços</span></a>
        <nav class="ls-menu" role="navigation">
            <ul role="menu">
                <li class="ls-submenu-parent" aria-expanded="false" aria-hidden="true">
                    <a href="#" class="ls-ico-users" role="menuitem">Usuários</a>
                    <ul class="ls-submenu" role="menu">
                        <li><a href="/user/create" class="ls-submenu-item ls-ico-user-add"
                               role="menuitem">Novo Usuário</a></li>
                        <li><a href="/user/all" class="ls-submenu-item ls-ico-users" role="menuitem">Todos
                            os Clientes</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <span class="ls-sidebar-toggle ls-ico-shaft-left"></span>
</aside>
<main class="ls-main ">
    <div class="container-fluid">
        <h1 class="ls-title-intro ls-ico-users">Usuários</h1>
<!--        <div th:if="${usuarioAdicionado != null}">-->
<!--            <div class="ls-alert-success">Usuário Criado com Sucesso! </div>-->
<!--        </div>-->
<!--        <div th:if="${usuarioAtualizado != null}">-->
<!--            <div class="ls-alert-success">Usuário Editado com Sucesso! </div>-->
<!--        </div>-->
        <div class="ls-box ls-board-box">
            <header class="ls-info-header">
                <h2 class="ls-title-3">Lista de Usuários</h2>
                <a href="/user/all" class="ls-btn ls-btn-sm">Ver usuários</a>
            </header>

            <table class="ls-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="user : ${listaUsuarios}">
                    <tr>
                        <td th:text="${user.nomeCompleto}"></td>
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.ativado}"></td>
                        <td>
                            <div>
                                <a th:href="@{'/user/update/' + ${user.id}}" class="ls-btn-primary">Editar</a>
                                <a th:onclick="'deleteItem(' + ${user.id} + ');'" class="ls-btn-danger">Excluir</a>
                            </div>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>

            <div class="ls-actions-btn">
                <a href="/user/create" class="ls-btn-primary">Adicionar usuário</a>
            </div>

        </div>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

</body>
</html>